{% extends "@classy/block/block--system-menu-block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a menu block.
 *
 * @ingroup themeable
 */
#}
{% set show_anchor = attributes.id|clean_id %}
{% block content %}
  <div{{ content_attributes.addClass('content') }}>
    {# When rendering a menu without label, render a menu toggle. #}
    <a class="menu-toggle" href="#{{ show_anchor }}">{% trans %} Show &mdash; {{ configuration.label }}{% endtrans %}</a>
    <a class="menu-toggle menu-toggle--hide" href="#hideanchor">{% trans %} Hide &mdash; {{ configuration.label }}{% endtrans %}</a>
    {{ content }}
  </div>
{% endblock %}
